global
    maxconn 4000

defaults
    mode http
    option dontlognull
    option redispatch
    retries 2
    timeout connect 5s
    timeout client 300s
    timeout server 300s
    timeout http-request 30s
    timeout http-keep-alive 60s

frontend fe
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option http-keep-alive
    http-reuse safe
    server s1 unix@/run/sockets/api-1.sock check inter 3s fall 2 rise 2
    server s2 unix@/run/sockets/api-2.sock check inter 3s fall 2 rise 2
