global
    maxconn 8192
    nbthread 2

defaults
    mode http
    option dontlognull
    option http-keep-alive
    timeout connect 2s
    timeout client 5s
    timeout server 5s
    timeout http-request 5s
    timeout http-keep-alive 60s

frontend fe
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option http-keep-alive
    http-reuse always
    server s1 unix@/run/sockets/api-1.sock check inter 5s fall 3 rise 2 maxconn 2048
    server s2 unix@/run/sockets/api-2.sock check inter 5s fall 3 rise 2 maxconn 2048
